.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  // Data
 &-data {
  display: flex;
  flex-direction: column;
 max-width: 400px;
 gap: 10px;

 h2 {
  color: $white-color;
 }
 }

  // Image
     img {
    width: 280px
  }
  }
 